debug/
target/

**/*.rs.bk
*.pdb

# Images.
**/*.jpg
**/*.jpeg
**/*.png
**/*.svg
**/*.gif

# Others.
.DS_Store
.idea/
Icon?

# Datasets.
examples/datasets/abalone/
examples/datasets/air-quality/
examples/datasets/bike/
examples/datasets/wine-quality/
examples/datasets/mnist/*
examples/datasets/mnist-fashion/*
examples/datasets/cifar10/*
documentation/validation/datasets/*

# Output files.
output/*
!output/compare/**/*.png
!output/compare/
output/compare/*.txt
!output/timing/
output/timing/*.txt
