debug/
target/
static/

**/*.rs.bk
*.pdb

# Images.
**/*.jpg
**/*.jpeg
**/*.png
**/*.svg
**/*.gif

# Others.
.DS_Store
.idea/
Icon?
**/*.py

# Datasets.
examples/datasets/mnist/*
examples/datasets/cifar10/*
documentation/validation/datasets/*
