/* Custom CSS theme for `neurons` documentation. */

code {
    font-family: "JetBrains Mono", monospace;
}
.code-header {
    font-family: "JetBrains Mono", monospace;
}

a:hover {
    color: #2a2a28;
}

a.enum {
    font-family: "JetBrains Mono", monospace;
}
a.struct {
    font-family: "JetBrains Mono", monospace;
}
a.primitive {
    font-family: "JetBrains Mono", monospace;
}
a.fn {
    font-family: "JetBrains Mono", monospace;
}
a.mod {
    font-family: "JetBrains Mono", monospace;
}
a.crate {
    font-family: "JetBrains Mono", monospace;
}
a.src {
    font-family: "JetBrains Mono", monospace;
}

:root {
    --main-background-color: floralwhite;
    --main-color: #2a2a28;
    --settings-input-color: #2a2a28;
    --settings-input-border-color: #2a2a28;
    --settings-button-color: darkorange;
    --settings-button-border-focus: darkorange;
    --sidebar-background-color: floralwhite;
    --sidebar-background-color-hover: floralwhite;
    --code-block-background-color: floralwhite;
    --scrollbar-track-background-color: floralwhite;
    --scrollbar-thumb-background-color: floralwhite;
    --scrollbar-color: darkorange floralwhite;
    --headings-border-bottom-color: darkorange;
    --border-color: #2a2a28;
    --button-background-color: floralwhite;
    --right-side-color: darkorange;
    --code-attribute-color: #2a2a28;
    --toggles-color: #2a2a28;
    --toggle-filter: none;
    --mobile-sidebar-menu-filter: none;
    --search-input-focused-border-color: darkorange;
    --copy-path-button-color: #2a2a28;
    --copy-path-img-filter: invert(50%);
    --copy-path-img-hover-filter: invert(35%);
    --codeblock-error-hover-color: #2a2a28;
    --codeblock-error-color: #2a2a28;
    --codeblock-ignore-hover-color: #2a2a28;
    --codeblock-ignore-color: #2a2a28;
    --warning-border-color: #2a2a28;
    --type-link-color: cornflowerblue;
    --trait-link-color: cornflowerblue;
    --assoc-item-link-color: darkorange;
    --function-link-color: cornflowerblue;
    --macro-link-color: darkorange;
    --keyword-link-color: darkorange;
    --mod-link-color: cornflowerblue;
    --link-color: darkorange;
    --sidebar-link-color: darkorange;
    --sidebar-current-link-background-color: floralwhite;
    --search-result-link-focus-background-color: floralwhite;
    --search-result-border-color: darkorange;
    --search-color: darkorange;
    --search-error-code-background-color: floralwhite;
    --search-results-alias-color: cornflowerblue;
    --search-results-grey-color: darkorange;
    --search-tab-title-count-color: #2a2a28;
    --search-tab-button-not-selected-border-top-color: darkorange;
    --search-tab-button-not-selected-background: floralwhite;
    --search-tab-button-selected-border-top-color: darkorange;
    --search-tab-button-selected-background: floralwhite;
    --stab-background-color: floralwhite;
    --stab-code-color: #2a2a28;
    --code-highlight-kw-color: #8959a8;
    --code-highlight-kw-2-color: #4271ae;
    --code-highlight-lifetime-color: #b76514;
    --code-highlight-prelude-color: #4271ae;
    --code-highlight-prelude-val-color: #c82829;
    --code-highlight-number-color: #2a2a28;
    --code-highlight-string-color: #718c00;
    --code-highlight-literal-color: #c82829;
    --code-highlight-attribute-color: #c82829;
    --code-highlight-self-color: #c82829;
    --code-highlight-macro-color: #3e999f;
    --code-highlight-question-mark-color: darkorange;
    --code-highlight-comment-color: #8e908c;
    --code-highlight-doc-comment-color: #8e908c;
    --src-line-numbers-span-color: #2a2a28;
    --src-line-number-highlighted-background-color: floralwhite;
    --test-arrow-color: darkorange;
    --test-arrow-background-color: floralwhite;
    --test-arrow-hover-color: #2a2a28;
    --test-arrow-hover-background-color: floralwhite;
    --target-background-color: floralwhite;
    --target-border-color: darkorange;
    --kbd-color: #2a2a28;
    --kbd-background: floralwhite;
    --kbd-box-shadow-color: #2a2a28;
    --rust-logo-filter: initial;
    --crate-search-div-filter: invert(100%) sepia(0%) saturate(4223%) hue-rotate(289deg) brightness(114%) contrast(76%);
    --crate-search-div-hover-filter: invert(44%) sepia(18%) saturate(23%) hue-rotate(317deg) brightness(96%) contrast(93%);
    --crate-search-hover-border: #2a2a28;
    --src-sidebar-background-selected: floralwhite;
    --src-sidebar-background-hover: floralwhite;
    --table-alt-row-background-color: floralwhite;
    --codeblock-link-background: floralwhite;
    --scrape-example-toggle-line-background: floralwhite;
    --scrape-example-toggle-line-hover-background: floralwhite;
    --scrape-example-code-line-highlight: #2a2a28;
    --scrape-example-code-line-highlight-focus: #2a2a28;
    --scrape-example-help-border-color: #2a2a28;
    --scrape-example-help-color: darkorange;
    --scrape-example-help-hover-border-color: #2a2a28;
    --scrape-example-help-hover-color: #2a2a28;
    --scrape-example-code-wrapper-background-start: floralwhite;
    --scrape-example-code-wrapper-background-end: floralwhite;
    --sidebar-resizer-hover: #2a2a28;
    --sidebar-resizer-active: #2a2a28;
}
